apiVersion: v1
kind: Pod
metadata:
  labels:
    app: {{ app_name }}
  name: {{ app_name }}
  namespace: {{ namespace }}
spec:
  containers:
  - image: registry.access.redhat.com/ubi9/ubi-minimal:latest
    name: test-container
    command:
    - /bin/sh
    - -c
    - sleep 10000
    volumeMounts:
    - mountPath: /data
      name: data-volume
    securityContext:
      allowPrivilegeEscalation: false
      seccompProfile:
        type: RuntimeDefault
  volumes:
  - name: data-volume
    persistentVolumeClaim:
      claimName: {{ app_name }}-pvc
