apiVersion: build.openshift.io/v1
kind: BuildConfig
metadata:
  name: docker-envvars
  namespace: {{ namespace }}
  labels:
    app: docker-test
spec:
  triggers: []
  runPolicy: Serial
  source:
    dockerfile: |
      FROM registry.access.redhat.com/ubi8/ubi-minimal:latest
      RUN microdnf install -y httpd && microdnf clean all
      CMD ["/usr/sbin/httpd", "-D", "FOREGROUND"]
  strategy:
    type: Docker
    dockerStrategy:
      env:
        - name: BUILD_LOGLEVEL
          value: "5"
        - name: HTTP_PROXY
          value: "http://proxy.example.com:8080"
  output:
    to:
      kind: ImageStreamTag
      name: docker-envvars:latest
